html,
body {
  margin: 0;
  padding: 0;
  background-color: #eae7dc;
  font: 22px "Roboto", sans-serif;
  font-weight: 400;
  color: #123c69;
}

h1 {
  text-align: center;
  margin: 10vh auto 0;
  font: 82px "Modak", cursive;
  color: #ac3b61;
  line-height: 1;
}

h3 {
  font: 24px "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ac3b61;
  margin: 0;
}

.keyboard {
  display: flex;
  max-width: 90%;
  margin: 10vh auto 0;
}

.key {
  border: 2px outset;
  background-color: #fff;
  height: 50vh;
  flex: 1;
  max-width: 100px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 4px;
  box-sizing: border-box;
}

.key,
.key * {
  user-select: none;
}
